/*
 * Configuración por defecto de variantes-NGS
 */

params {
    // Entradas / salidas
    input           = null
    genome          = null
    outdir          = './results'

    // Filtrado de variantes
    min_depth       = 10
    min_qual        = 20

    // Opciones de ejecución
    skip_multiqc    = false

    // Recursos por defecto (sobreescribibles por proceso en conf/base.config)
    max_cpus        = 8
    max_memory      = '16.GB'
    max_time        = '24.h'
}

// -----------------------------------------------------------------------------
// Perfiles de ejecución
// -----------------------------------------------------------------------------
profiles {
    docker {
        docker.enabled       = true
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    test {
        includeConfig 'conf/test.config'
    }

    cluster {
        includeConfig 'conf/cluster.config'
    }
}

includeConfig 'conf/base.config'

// -----------------------------------------------------------------------------
// Trazabilidad de la ejecución
// -----------------------------------------------------------------------------
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.svg"
}

manifest {
    name            = 'variantes-NGS'
    author          = 'Hernan Martin Rubinstein'
    homePage        = 'https://github.com/hernanmr95/variantes-NGS'
    description     = 'Pipeline reproducible de llamada de variantes germinales (WGS/WES) con Nextflow y Docker'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}
